<div class="container-fluid about px-0 font-weight-bold text-center pb-5">
  <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#GuideModal">
    <i class="fad fa-info-circle"></i> Guideline
  </button>
</div>
<div class="modal fade" id="GuideModal" tabindex="-1" role="dialog" aria-label="Guide" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title">Guideline</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There are 3 options: Play with friend, Play with AI, and Set up board</p>
        <ol>
          <li><u>Play with friend:</u> Players press on the button <a target="_blank" href="/play-with-friend">"PLAY WITH FRIEND"</a> on the front page and practice with friend.</li>
          <li><u>Play with AI:</u> Players play directly on the front page. There are 5 levels: <a target="_blank" href="/newbie">Newbie</a>, <a target="_blank" href="/easy">Easy</a>, <a target="_blank" href="/normal">Normal</a>, <a target="_blank" href="/hard">Hard</a>, and <a target="_blank" href="/insane">Insane</a>.</li>
          <li><u>Set up board:</u> Players press on the link <a target="_blank" href="/set-up">"Set Up"</a>. In this option, players can arrange the chess pieces and press "CAPTURE THE BOARD" to challenge friends.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>