<%+ extend('layout/main') %>
<%+ section('aboveContent') %>
<div class="container-fluid about px-0">
  <div class="container p-3">
    <h1 class="h1 text-center my-4">Giới thiệu</h1>
    <div class="row">
      <p>Cờ vua (tiếng Anh: chess), trước kia còn được gọi là cờ quốc tế, là trò chơi quốc tế và là môn thể thao trí tuệ cho 2 người chơi. Ngày nay, cờ vua là một trong những trò chơi phổ biến nhất thế giới với hàng triệu người tại nhà riêng, trong câu lạc bộ, trực tuyến, từ xa và trong các giải đấu. Trò chơi này diễn ra trên một bảng hình vuông, gọi là bàn cờ, gồm 8 hàng (đánh số từ 1 đến 8) và 8 cột (đánh các chữ cái từ a đến h), tạo ra 64 ô hình vuông với các màu đậm và nhạt xen kẽ nhau, với mỗi người chơi sẽ có ô màu nhạt ở hàng cuối cùng bên tay phải của mình khi ngồi vào bàn chơi cờ. Mỗi người sẽ bắt đầu ván cờ với 16 quân cờ và sẽ lần lượt đi các quân của mình sau khi đối phương đã đi xong một nước (hoàn thành nước đi). Các quân cờ của mỗi bên bao gồm 8 tốt, 2 mã, 2 tượng, 2 xe, 1 hậu và 1 vua. Người cầm quân trắng luôn là người đi đầu tiên; người kia cầm quân đen. Các quân hậu và xe được gọi là quân nặng, còn tượng và mã được gọi là quân nhẹ.</p>
      <p>Truyền thống của thi đấu cờ đã xuất hiện từ thế kỷ X Ngày nay, cờ vua được công nhận là một môn thể thao chính thức bởi Ủy ban Olympic Quốc tế. Nhà vô địch Cờ vua Thế giới đầu tiên, Wilhelm Steinitz đã giành danh hiệu này năm 1886. Hiện nay Magnus Carlsen là đương kim vua cờ.</p>
      <p>Các nhà lý thuyết đã sáng tạo ra rất nhiều chiến thuật và chiến lược kể từ khi bắt đầu có cờ vua. Nhiều khía cạnh nghệ thuật cũng được tìm thấy trong cờ thế.</p>
      <p>Một trong những mục tiêu ban đầu của các nhà khoa học máy tính là tạo nên các máy tính biết đánh cờ vua. Cờ vua ngày nay bị ảnh hưởng rõ ràng bởi các chương trình chơi cờ cũng như khả năng chơi cờ trực tuyến. Năm 1997, Deep Blue trở thành chương trình đầu tiên đánh bại được một kiện tướng thế giới khi nó đánh bại Garry Kasparov.</p>
    </div>
  </div>
</div>
<%+ endSection %>
<%+ section('belowContent') %>
<%+ endSection %>