<header class="site-header shadow-lg fixed-top">
  <div class="container mx-auto">
    <div class="row align-items-center">
      <a class="navbar-brand mr-auto my-0" href="/"><img src="/public/img/app-icons/logo-chess.png" class="chess-logo" alt="chess logo"><h1 class="d-inline" style="font-size: inherit !important;"><strong>Cờ vua</strong></h1><span id="header-status"></span></a>
      <div class="menu-toggle open" title="Menu"></div>
      <nav class="navbar py-0">
        <ul class="nav navbar-nav">
          <li class="pt-4">
            <a class="home" href="/">Trang chủ</a>
          </li>
          <li class="pt-4">
            <a class="about" href="/gioi-thieu">Giới thiệu</a>
          </li>
          <li class="pt-4">
            <a class="setup" href="/xep-co">Xếp cờ</a>
          </li>
          <li class="pt-4">
            <a class="lang" href="<%= langUrl %>">English</a>
          </li>
          <li class="pt-4">
            <a class="github" href="https://github.com/tungpham42/ChessViet" target="_blank"><i class="fab fa-github"></i> GitHub</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>