<meta charset="utf-8" />
<title><%= title %> - Cờ vua - Chess Việt</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="cờ vua, chess, chess multiplayer, chess with friends, best online chess, chess app" />
<meta property="article:tag" content="chess"/>
<meta property="og:type" content="website">
<meta property="og:image" content="/public/img/img_desc_logo_chess.png">
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta name="theme-color" content="#f8f8ff" />
<meta name="description" content="Cùng chơi Cờ vua nào!" />
<meta property="og:title" content="<%= title %> - Cờ vua - Chess Việt" />
<meta property="og:description" content="Cùng chơi Cờ vua nào!" />
<meta property="og:url" content="<%= fullUrl %>" />
<meta property="fb:app_id" content="562283911060533"/>
<meta name="twitter:card" content="summary" />
<meta name="google-site-verification" content="6I_Mzb56NPf1wGIsGE-dQpJ4d7zZBVsCdB8l8QgHayQ" />
<link rel="apple-touch-icon" href="/public/img/app-icons/apple-touch-icon-iphone-chess.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/img/app-icons/apple-touch-icon-ipad-chess.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/img/app-icons/apple-touch-icon-iphone-retina-chess.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/img/app-icons/apple-touch-icon-ipad-retina-chess.png">
<link rel="icon" sizes="32x32" href="/public/img/favicon-32x32-chess.png" />
<link rel="stylesheet" href="/public/css/fa/css/all.min.css?v=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
<link href="/public/css/index.css?v=17" rel="stylesheet">
<link rel="manifest" href="/public/manifest.webmanifest">
<link rel="canonical" href="<%= fullUrl %>" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LE82JMC9QF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LE82JMC9QF');
</script>