.highlight {
  box-shadow: inset 0 0 3px 3px #6d5330;
}
#chess-board {
  touch-action: none !important;
  pointer-events: all;
}
#create-room, #invite-friend {
  color: white;
}
#url-white, #copy-url-white, #url-black, #copy-url-black {
  cursor: pointer;
}
.side-color {
  font-weight: bolder;
  font-size: 42px;
  text-align: center;
  line-height: 1.2em;
  display: block;
  cursor: default !important;
  color: black;
}
body.setup #game-status {
  display: none !important;
}
#game-status {
  background-color: transparent;
  padding: 12px 24px;
  font-weight: bolder;
  border-width: 2px;
  border-style: solid;
  cursor: default !important;
  color: black;
  border-color: black;
  &:hover {
    background-color: black;
    color: white;
    border-color: black;
  }
}
#game-over {
  color: darkslategrey;
  border-width: 1px;
  border-style: solid;
  border-color: darkslategrey;
  padding: 12px 24px;
  background-color: whitesmoke;
  font-weight: bolder;
  cursor: default !important;
  &:hover {
    color: whitesmoke;
    border-color: darkslategrey;
    background-color: darkslategrey;
  }
}
#room-code {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: $font-family-base;
}
.table {
  td, th {
    vertical-align: middle !important;
  }
  td.text-left {
    a {
      color: gray !important;
      font-family: $font-family-mono;
    }
    span {
      padding: 4px 7px 5px;
    }
  }
}
ul#credit {
  color: $c-base !important;
  li {
    color: $c-base !important;
    a {
      color: $c-base !important;
      font-weight: bolder;
    }
  }
}
@media screen and (max-width: 767px) {
  #chess-board {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #chess-board {
    width: 75% !important;
  }
}
@media screen and (max-width: 991px) {
  #copy-url-white, #copy-url-black, #change-pass {
    width: 100% !important;
  }
  .btn.w-25 {
    width: 49% !important;
    font-size: 12px !important;
  }
  .btn.w-25.btn-success {
    width: 75% !important;
  }
  .h3, h3 {
    font-size: 1rem !important;
  }
  h2 {
    font-size: 1.2rem !important;
  }
}
/* PULSE ANIMATION */
.pulse {
	position: relative;
	box-shadow: 0 0 0 0 rgba(33, 136, 56, 0.84);
	cursor: pointer;
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse:hover {
	-webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 24px rgba(33, 136, 56, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 24px rgba(33, 136, 56, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 24px rgba(33, 136, 56, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 24px rgba(33, 136, 56, 0);}}
//end
.dropdown-item {
  &.active, &:active {
    background-color: $c-semi-black !important;
  }
}